       fieldset {
           border-width: 2px;
           font-family: Arial, sans-serif;
       }

       legend {
           font-size: 1.25rem;
           padding: 0 10px;
           margin-bottom: 1rem;
           width: auto;
           font-family: Arial, sans-serif;
       }

       .form-label {
           margin-bottom: 0.5rem;
           font-family: Arial, sans-serif;
       }

       .row>[class*='col-'] {
           margin-bottom: 1rem;
           font-family: Arial, sans-serif;
       }

       .mb-4 {
           font-family: Arial, sans-serif;
           padding: 0 10px;
           margin-bottom: 1rem;
           width: auto;
       }

       .content {
           margin-left: 34px;
       }